::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2,
h3 {
  text-align: center;
  margin: 0;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  transition: opacity 1s;
  overflow: hidden;
  z-index: -1;
  transform: translateX(calc((100% - 100vw) / 2));
  animation: fade-in 2s forwards;
  transition: filter 1s;
  z-index: -1;
}

#bg.fade {
  filter: opacity(0.2);
}

#bg-fill {
  padding-bottom: 100vh;
}

#forward {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1));
}

.box {
  display: flex;
  flex-flow: row;
  padding: 30px;
  margin: auto;
}

.box .right {
  flex: 1;
  font-size: 0.8em;
  line-height: 20px;
}

.box .right div {
  max-width: 350px;
  margin: auto;
}

.box .right div {
  display: flex;
}

.box .right p {
  margin: 0;
  width: 100%;
  overflow: scroll;
  padding-top: 7px;
  padding-bottom: 7px;
}

.box .right sup {
  transform: translateX(-1px);
  font-weight: bold;
}

.box .main {
  flex: 2;
}

.box .row {
  display: flex;
  flex-flow: row;
  padding-right: 30px;
}

.box .left {
  flex: 1;
  padding-right: 30px;
  font-size: 0.8em;
  line-height: 20px;
}

.box .left img {
  width: 100%;
  height: auto;
}

.box .center {
  flex: 1;
  line-height: 30px;
  max-width: 700px;
  margin: auto;
}

.box .center sup {
  line-height: 0;
  font-size: 0.8em;
  font-weight: bold;
}

.box .center sup a {
  text-decoration: none;
  /* color: inherit; */
}

.blob {
  width: 60vw;
  margin: 0;
  display: block;
}

.blob.center {
  margin: auto;
}

.blob.right {
  float: right;
}

#screenplay {
  background-color: #ffffff;
  padding-bottom: 100vh;
}

#screenplay .box .main .row .center span {
  margin: 1em 0 0 0;
  display: block;
}

#screenplay .box .main .row .center p {
  margin: 1em auto 0 auto;
  width: 60%;
}

#screenplay .box .main .row .center p span {
  margin: 1em 0 0 0;
  text-align: center;
}
