@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s forwards;
}

@keyframes dance {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes invert {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}

h2,
h3 {
  text-align: center;
  margin: 0;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  transition: opacity 1s;
  overflow: hidden;
  z-index: -1;
  transform: translateX(calc((100% - 100vw) / 2));
  animation: fade-in 2s forwards;
  transition: filter 1s;
  z-index: -1;
}

#bg.fade {
  filter: opacity(0.2);
}

#bg.hide {
  display: none;
}

#bg-fill {
  padding-bottom: 100vh;
}

.box .left .date {
  max-width: 350px;
  margin: 20px auto;
}

.box .left .date img {
  margin: auto;
  height: auto;
  width: 70%;
  display: block;
}

.box .left .date img.large {
  width: 80%;
}

.box .left .date p {
  opacity: 0;
  transition: opacity 500ms;
}

.box .left .date:hover p {
  opacity: 1;
}

.box .left .date:hover img {
  animation: dance 1s infinite;
}

.blob {
  width: 60vw;
  margin: 0;
  display: block;
}

.blob.center {
  margin: auto;
}

.blob.right {
  float: right;
}

#screenplay {
  background-color: #ffffff;
  padding-bottom: 80vh;
}

#screenplay .box .main .row .center span {
  margin: 16px 0 0 0;
  display: block;
}

#screenplay .box .main .row .center p {
  margin: 16px auto 0 auto;
  width: 60%;
}

#screenplay .box .main .row .center p span {
  margin: 16px 0 0 0;
  text-align: center;
}

img.title {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  padding: 50vh 10vw 20vh 10vw;
  display: block;
  animation: invert 5s infinite;
}

img.full {
  width: 80vw;
  margin: auto;
  display: block;
}

img.full.right {
  margin: 0 0 0 20vw;
}

img.full.left {
  margin: 0;
}

.box img.full {
  width: 50vw;
}

@media screen and (max-width: 900px) {
  img.title {
    padding: 50vh 0 20vh 0;
  }
  .box .right div {
    max-width: 250px;
  }
  .blob {
    width: 100vw;
  }
  .blob.right {
    float: none;
  }
  img.full {
    width: 100vw;
  }
  img.full.right {
    margin: 0;
  }
  .box .row {
    flex-flow: column;
    padding-right: 0;
  }
  .box .left .date p {
    height: initial;
    opacity: 1;
    margin: 0;
    transition: none;
  }
  .box .left .date img {
    margin: 0 auto 20px auto;
  }
}

@media screen and (max-width: 700px) {
  .box .right {
    margin-top: 30px;
  }
  .box .right div {
    max-width: 80%;
  }
  .box .left {
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  #screenplay .box .main .row .center p {
    width: 80%;
  }
}